/* Variable */
/* @couleur-contrast : contrast(@couleur-base);*/
/* pour le debuggage on met une bordure autour de chacun des éléments 

* {border: 1px solid #aaa;}
*/
html {
  background-attachment: fixed;
  background-image: url('../images/bts2.jpg');
  height: 200%;
  width: 100%;
  background-origin: 50% 50%;
  background-size: cover;
}
body {
  display: flex;
  flex-direction: column;
  font-family: calibri;
}
  
  #monSVG {
    position: fixed ;
  }



  /* Définir la couleur de fond, la couleur du contour, l'épaisseur du contour du path */

  #monSVG path {
    fill: none;
    stroke: #ff39c4;
    stroke-width: 3;
  }
header {
  display: flex;
  flex-direction: column;
  padding: 5px;
  /* fin nav*/
}
header img {
  /* width : 352px; dimension de l'image */
  width: 100%;
}
header nav {
  /* fin ul*/
}
header nav ul {
  list-style-type: none;
  padding: 3px;
  /* fin li*/
}
header nav ul li {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px dotted #f9d42a;
}
header nav ul li:first-child {
  border-top: 1px dotted #f9d42a;
}
header nav ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 150%;
  padding: 3px;
  color: #ffffff;
  flex: 1;
  transition: background-color 1s;
}
header nav ul li i {
  color: #f9d42a;
  margin-left: 10px;
  margin-right: 10px;
}
header nav ul li a:hover {
  background-color: #aaa;
}
/* fin header  */
main {
  display: flex;
  flex-direction: column;
}
main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section article {
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
  height: 250px;
  /* border: 1px solid #aaa;*/
  font-size: 250px;
}
.global {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.global:nth-of-type(even) article:nth-child(2) {
  background-color: rgba(223, 219, 197, 0.8);
}
.global:nth-of-type(even) article:nth-child(3) {
  background-color: rgba(219, 197, 223, 0.8);
}
.global:nth-of-type(even) article:nth-child(4) {
  background-color: rgba(223, 219, 197, 0.8);
}
.global:nth-of-type(odd) article:nth-child(2) {
  background-color: rgba(200, 245, 193, 0.8);
}
.global:nth-of-type(odd) article:nth-child(3) {
  background-color: rgba(223, 219, 197, 0.8);
}
.global:nth-of-type(odd) article:nth-child(4) {
  background-color: rgba(200, 245, 193, 0.8);
}
.global:first-child {
  background-color: rgba(0, 0, 0, 0.83);
}
main .global:nth-child(1) {
  background-color: rgba(219, 197, 223, 0.8);
}
main .global:nth-child(2) {
  background-color: rgba(200, 245, 193, 0.8);
}
main .global:nth-child(3) {
  background-color: rgba(219, 197, 223, 0.8);
}
.global:last-child {
  background-color: rgba(0, 0, 0, 0.83);
}
footer {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer div {
  width: 210px;
  text-align: center;
}
footer div i {
  color: #f9d42a;
  transition: color 1s;
}
footer div i:hover {
  color: rgba(193, 245, 238, 0.8);
}
